body {
    align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 61px;
    color: #4A4A4A;
}

p.regular {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #4A4A4A;
}

p.light {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #7C8595;
}

#footer {
    background-color: #DDE8F1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

button {
    background-color: #F9E7A3; /* Green */
    border: none;
    color: #4A4A4A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.col1{
    float:left;
    margin-left: 20px;
}

.col2{
    float:left;
    margin-left: 20px;
}

.col3{
    float:left;
    margin-left: 20px;
}

.col4{
    float:right;
    padding:20px;
    margin: 20px;
}