
html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
    align: center;
}

h1 {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 51px;
    color: #4A4A4A;
}

h3 {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 31px;
    color: #4A4A4A;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

p.regular {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 18px;
    color: #4A4A4A;
}

p.light {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 18px;
    color: #7C8595;
}

h6 {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
    color: #4A4A4A;
}

.buttons {
  margin: 51px 0;
}

.button--modal {
  width:200px;
  display: inline-block;
  text-transform: uppercase;
}

.button--modal:nth-of-type(2) {
  margin-left: 10px;
}

.actions {
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.action {
    width: 65px;
    height: 65px;
    border-radius: 8px 0 0 8px;
    background-color: #DDE8F1;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
}

.action-send {
    background-image: url('sendicon.png');
}

.action-save {
    margin-top: 5px;
    background-image: url('saveicon.png');
}

#content{
    text-align: center;
    align-items: center;
    align-self: center;
    padding-top: 50px;
    clear:all;
    width:600px;
    z-index: 0;
    min-height: 400px;
}

#footer {
    background-color: #DDE8F1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

#wave{
    position: fixed;
    bottom: 0;
    left: 20;
}

#lilhouse{
    position: relative;
    top: -600px;
    left: 40px;
}

#toggle-box{
    background-color: #DDE8F1;
    border-radius: 6px;
    position: absolute;
    z-index : 4;
    width: 460px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

#toggle{
    display: none;
}

#wrap{
    height: 325px;
    overflow: auto;
}

table{
    padding:10px;
}

td{
    padding:5px;
    align:center;
}

button {
    background-color: #F9E7A3;
    border: none;
    color: #5A5A5A;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
    height: 45px;
    font-family: 'Open Sans';
    font-weight: 600;
}

.acctype {
    width:200px;
    background-color: white;
    border: solid 3px #6698D8;
    color: #9B9B9B;
}

.acctype.focus, .acctype:focus {
    background-color: #6698D8;
}

img.focus, img:focus {
    border: solid 3px #F9E7A3;
}

.minor {
    background-color: white;
    border: solid 3px #F9E7A3;
    width: 150px;
    height: 45px;
}

.minor.focus, .minor:focus {
    background-color: #F9E7A3;
}

.major {
    width: 150px;
    height: 45px;
}

.minor.focus, .minor:focus {
    background-color: #F9E7A3;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: solid 3px #6698D8;
    border-radius: 0;
    width: 400px;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #9B9B9B;

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    border: none;
    border-radius: 0;
    border-bottom: solid 3px #6698D8;
    width: 400px;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #4A4A4A;
    background-color: transparent;
}

select:invalid { font-weight: 200; color: #7C8595; }

.col1{
    float: left;
    margin-left: 20px;
}

.col2{
    float: left;
    margin-left: 200px;
}

.col3{
    float: left;
    margin-left: 20px;
}

.col4{
    float: right;
    margin: 20px;
}

#sidebar{
    margin-right: 35px;
    margin-left: 4%;
    float:left;
    z-index : 0;
}

#library{
    float:left;
    z-index : 0;
}

#icons{
    position: relative;
    right: 60px;
    top: -30px;
}

#classnum{
    display:none;
}

/* Overwrite the default to keep the scrollbar always visible */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
